@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>You will automatically be redirected to the Shop... </p>
    <p>If it does not work, click @Html.ActionLink("here", "Index", "Spielzeugs")</p>
    <meta http-equiv="Refresh" content="1; url=@Url.Action("Index", "Spielzeugs")" />
</div>

